.side-navs-ul {list-style: none;}

.side-navs-ul li.nav-item {text-align: center;min-height: 60px;display: flex;justify-content: center;align-items: center;color: #fffa;font-size: 1.5em;/* margin-bottom: 20px; */border-bottom: 1px solid #fff3;}
