.header {
  background: #4768b5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-items {list-style: none;display: flex;}

.primary-nav .nav-item {padding: 5px 10px;}

.primary-nav .nav-item:last-child {margin-right: 10px;}

.header .logo {margin-left: 15px;}

.header .logo > i {font-size: 1.5em;}

.primary-nav .nav-item .nav-link{
  text-decoration: none;
  color: inherit;
}
