* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-wrapper {
  /* background-color:aquamarine; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  width: 80%;
  height: 80%;
  min-height: 600px;
  max-height: 660px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  display: flex;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.chat-container .col {
  height: 100%;
}

.chat-container .col-1 {
  flex: 1;
  max-width: 60px;
  background-color: #4768b5;
}

.chat-container .col-2 {
  flex: 3;
  /* background-color: blueviolet; */
}

.chat-container .col-3 {
  flex: 6;
  /* background-color: teal; */
  
}
.users-listing {
  box-shadow: 0px 8px 10px rgb(0 0 0 / 20%);
}

/* 10 30 60 -  100%  */
